body
{
    color: White;
    background-color: rgb(52, 81, 110);
    font-family: "Arial Black, Gadget, sans-serif";
}


.center
{
       position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 600px;
}

form
{
    font-size: 50px;
}

#box
{
    font-size: 50px;
}